In [1]:
import numpy as np, pandas as pd, os
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import roc_auc_score

train = pd.read_csv('heart_training_data.csv')
test = pd.read_csv('heart_test_data.csv')

train.head()

,age,sex,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,ID,target
0,58.0,NaN,2.0,105.0,240.0,0,0.0,154.0,1,0.6,1.0,0.0,253,1
1,60.0,0,3.0,150.0,240.0,0,1.0,171.0,0,0.9,2.0,0.0,333,1
2,67.0,0,0.0,106.0,223.0,NaN,1.0,142.0,0,0.3,2.0,2.0,496,1
3,29.0,m,1.0,130.0,204.0,0,0.0,202.0,0,0.0,2.0,0.0,446,1
4,35.0,1,0.0,126.0,282.0,0,0.0,156.0,1,0.0,2.0,0.0,289,0

In [16]:
import pandas as pd
from sklearn.model_selection import train_test_split


X_train, X_valid, y_train, y_valid = train_test_split(train.drop('target=1'), axis=1, train(taget))

TypeError: drop() got an unexpected keyword argument 'target'

In [ ]:
# Function for comparing different approaches
def score_dataset(X_train, X_valid, y_train, y_valid):
    model = LogisticRegression(n_estimators=100, random_state=0)
    model.fit(X_train, y_train)
    preds = model.predict(X_valid)
    return roc_auc_score(y_valid, preds)